.gradle
**/build/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-LRUCache
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Kotlin ###
.kotlin/

### VS Code ###
.vscode/
src/main/java/com/conduct/interview/ai/claude/key.txt
src/main/java/com/conduct/interview/ai/claude/venv/
src/main/java/com/conduct/interview/ai/claude/_20_news_agent/venv/
src/main/java/com/conduct/interview/ai/claude/_20_news_agent/telegram_token.txt
src/main/java/com/conduct/interview/ai/claude/_20_news_agent/subscribers.json
src/main/java/com/conduct/interview/ai/claude/_20_news_agent/groq_key.txt
src/main/java/com/conduct/interview/ai/claude/_20_news_agent/sent_state.json
src/main/java/com/conduct/interview/ai/claude/_20_news_agent/classification_cache.json
