# src/main/resources/application.yml
server:
  port: ${SERVER_PORT:8082}
  address: 0.0.0.0   # Critical: bind to all interfaces

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: url-shortener
  prometheus:
    metrics:
      export:
        enabled: true


# DO NOT hardcode Keycloak URL here
# Let environment variables control it
spring:
  application:
    name: generator-service

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://${KEYCLOAK_HOST:localhost}:8081/realms/url-shortener
#          jwk-set-uri: http://localhost:8081/auth/realms/apps/url-generator-service/protocol/openid-connect/certs
          # --- CLIENT CONFIGURATION (Handling browser login/redirect) ---
      client:
        registration:
          # A custom name for this registration (e.g., 'keycloak' or 'url-auth')
          keycloak:
            client-id: url-generator-service
            client-secret: my-secret
            # Use 'authorization_code' for browser-based login/redirect
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            # Define the scopes this service will request (openid is mandatory)
            scope:
              - openid
        provider:
          # Define the provider details using the correct issuer
          keycloak:
            issuer-uri: http://${KEYCLOAK_HOST:localhost}:8081/realms/url-shortener
  data:
    mongodb:
      uri: mongodb://user:pass@${MONGO_HOST:localhost}:27017/shortenDb?authSource=admin

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/shortdb}
    username: ${SPRING_DATASOURCE_USERNAME:shortuser}
    password: ${SPRING_DATASOURCE_PASSWORD:shortpass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER:localhost}:8761/eureka/


#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          # This will be injected via env var
##          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI}
#          issuer-uri: http://keycloak:8080/realms/url-shortener
#logging:
#  level:
#    org.springframework.security: DEBUG
#    org.springframework.web: DEBUG
# Optional: if you need client auth (not required for resource server)
# spring:
#   security:
#     oauth2:
#       client:
#         registration:
#           keycloak:
#             client-id: url-generator-service
#             client-secret: my-secret
#             authorization-grant-type: authorization_code
#             scope: openid,profile,email
#         provider:
#           keycloak:
#             issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI}