# src/main/resources/application.yml
server:
  port: ${SERVER_PORT:8082}
  address: 0.0.0.0   # Critical: bind to all interfaces

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: url-shortener
  prometheus:
    metrics:
      export:
        enabled: true


# DO NOT hardcode Keycloak URL here
# Let environment variables control it
spring:
  application:
    name: generator-service
    data:
      mongodb:
        uri: mongodb://user:pass@localhost:27017/shortenDb?authSource=admin

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/shortdb}
    username: ${SPRING_DATASOURCE_USERNAME:shortuser}
    password: ${SPRING_DATASOURCE_PASSWORD:shortpass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER:localhost}:8761/eureka/


#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          # This will be injected via env var
##          issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI}
#          issuer-uri: http://keycloak:8080/realms/url-shortener
#logging:
#  level:
#    org.springframework.security: DEBUG
#    org.springframework.web: DEBUG
# Optional: if you need client auth (not required for resource server)
# spring:
#   security:
#     oauth2:
#       client:
#         registration:
#           keycloak:
#             client-id: url-generator-service
#             client-secret: my-secret
#             authorization-grant-type: authorization_code
#             scope: openid,profile,email
#         provider:
#           keycloak:
#             issuer-uri: ${SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI}