#server:
#  port: 8443
#  ssl:
#    enabled: true
#    key-store: classpath:server.p12
#    key-store-password: password
#    key-store-type: PKCS12
#    key-alias: server
#    client-auth: need
#    trust-store: classpath:server-truststore.p12
#    trust-store-password: password

#fdsfdsf88888dddd
#fdsfdsf8888888dddd
#some info88888888ddddd

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/url-shortener
          #          jwk-set-uri: http://localhost:8081/auth/realms/apps/url-generator-service/protocol/openid-connect/certs
          # --- CLIENT CONFIGURATION (Handling browser login/redirect) ---
      client:
        registration:
          # A custom name for this registration (e.g., 'keycloak' or 'url-auth')
          keycloak:
            client-id: url-generator-service
            client-secret: my-secret
            # Use 'authorization_code' for browser-based login/redirect
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            # Define the scopes this service will request (openid is mandatory)
            scope:
              - openid
        provider:
          # Define the provider details using the correct issuer
          keycloak:
            issuer-uri: http://localhost:8081/realms/url-shortener