server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway
  cache:
    type: caffeine
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.reactive.ReactiveSecurityAutoConfiguration
  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}
      timeout: 2s

  cloud:
    gateway:
      server:
        webflux:
          routes:
            # -------------------------------------------------
            # 1. API → generator1
            # -------------------------------------------------
            - id: generator-route
              uri: http://generator1:8082
              predicates:
                - Path=/api/**
              filters:
                - StripPrefix=1
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 100
                    redis-rate-limiter.burstCapacity: 200
                    redis-rate-limiter.requestedTokens: 1
                - AddRequestHeader=X-Request-ID, ${random.uuid}

            # -------------------------------------------------
            # 2. Short URL → NGINX (load balanced)
            # -------------------------------------------------
            - id: redirect-route
              uri: http://nginx
              predicates:
                - Path=/{code}
              filters:
                - RewritePath=^/(?<code>.*)$, /${code}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,gateway