version: '3.8'

services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: dmytro
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - my-network
  keycloak:
    image: quay.io/keycloak/keycloak:21.1
    container_name: keycloak
    networks:
      - my-network
    environment:
      KC_HTTP_PORT: 8081
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: [ "start-dev", "--import-realm" ]
    volumes:
      - ./keycloak-realm.json:/opt/keycloak/data/import/realm-export.json:ro
    ports:
      - "8081:8081"

volumes:
  postgres-data:

networks:
  my-network:
    driver: bridge
